main{
  height: 50vh;
  width: 50vw;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  justify-content: space-between;
  gap: 30px;

  .flash-card{
    width: 80%;
    height: 50%;
    background: #fff;
    border-radius: 20px;
  }

  .flash-card:nth-child(2){
    margin-left: auto;
  }

}