:root{
  --bg-color:#eee;
  --blue-color:#007EA7;
  --light-font:#ffffff;
  --light-bg:#ebebeb;
  --primary-color:#C5D86D;
  --second-color:#B9E3C6;
  --thirdy-color:#CC444B;
  --main-fnt-color:#000500;
  --sm-font:normal 14px/175% "Poppins", sans-serif;
  --md-font:normal 16px/150% "Poppins", sans-serif;
  --lg-font:normal 24px/150% "Poppins", sans-serif;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

.container{
  padding-inline: 50px;
}

a{
  text-decoration: none;
  color: inherit;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}