footer{
  display: flex;
  justify-content: space-around;
  padding-block: 20px;
  background-color: var(--third-color);
  align-items: center;
  color: white;
}

footer > div > img{
  width: 300px;
  filter: invert();
}

footer > div > ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer > div.footer-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}