:root{
  --bg-color:#ffffff;
  --primary-color:#F9F9F9;
  --second-color:#c9c9c9;
  --third-color:#0077B6;
  --fuorth-color:#F59820;
  --dark-color:#111111;
  --medium-dark-color:#696969;
  --light-color:#cacaca;
  --sm-font:12px/125% light  "Roboto", sans-serif;
  --md-font:16px/150% normal  "Roboto", sans-serif;
  --lg-font:24px/175% normal  "Roboto", sans-serif;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.indie {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

.container{
  padding-inline: 100px;
}


ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

.pad-25{
  padding-inline: 25%;
}