nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-nav{
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding-block: 20px;
  color: var(--second-color);
}

img.logo{
  width: 100px;
}

ul{
  gap: 20px;
}

.menu-nav span{
  margin-left: auto;
  color: var(--dark-color);
  font: var(--md-font);
}

.bnt-transparent{
  padding: 10px 30px;
  border: 1px dashed var(--second-color);
  border-radius: 15px;
}
