:root{
  --bg-color:#ffffff;
  --bg-blue-white:gradient(0% #2196F3 50% #fff 100% #fff);
  --blue-color:#2F90F6;
  --light-font:#ffffff;
  --btn-color:#00FF1E;
  --bg-green:hsla(127, 100%, 50%, 18%);
  --light-bg:#ebebeb;

  --primary-card-bg:#171717;
  --secondary-card-bg:#171155;
  --thirdy-card-bg:#108D65;
  --fuorth-card-bg:#83108D;
  --fifth-card-bg:#C00003;

  --light-gray-border: #d4d4d4;

  --primary-color:#C5D86D;
  --second-color:#B9E3C6;
  --thirdy-color:#CC444B;
  --main-fnt-color:#272727;
  --secondary-fnt-color:#555;
  --thirdy-fnt-color:#000;
  --fuorth-fnt-color:#ddd;
  --sm-font:normal 14px/175% "Inter", sans-serif;
  --md-font:normal 16px/150% "Inter", sans-serif;
  --lg-font:normal 24px/150% "Inter", sans-serif;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  background: #fff;
  box-sizing: border-box;
  color: var(--main-fnt-color);
}

.container{
  padding-inline: 50px;
}

a{
  text-decoration: none;
  color: inherit;
}


ul{
  list-style-type: none;
}