main{
  display: grid;
  height: 100vh;
  grid-template-columns: 200px 70vw 1fr;
  grid-template-rows:50px 90vh 1fr;
  color: var(--main-fnt-color);

  aside{
    grid-row: 1 / 4;
    grid-column: 1 / 2;
  }

  nav{
    grid-row: 1 / 2;
    grid-column: 2 / 4;
  }

  div.feature{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  div.right-menu{
    grid-row: 2 / 3;
    grid-column: 3 / 4;
  }

  div.track{
    grid-row: 3 / 4;
    grid-column: 2 / 4;
  }

}
