main{
  display: grid;
  height: 100vh;
  grid-template-columns: 200px 70vw 1fr;
  grid-template-rows:50px 90vh 1fr;
  color: var(--main-fnt-color);

  aside{
    box-sizing: border-box;
    grid-row: 1 / 4;
    grid-column: 1 / 2;
    font: var(--sm-font);
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--light-gray-border);
    color: var(--secondary-fnt-color);
    justify-content: space-around;
    margin: 0;
    padding: 0;

    img.logo{
      align-self: center;
      margin-block: 20px;
    }


    label{
      font-weight: bold;
      margin-left: -20px;
      color: var(--main-fnt-color);
      border-bottom: 1px solid var(--light-gray-border);
      width: 100%;
      display: block;
      margin-top: 05px;
    }


    button{
        margin-inline: 20px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--btn-color);
        border: none;
        border-radius: var(--p20);
        margin-bottom: 20px;
      p{
        color: var(--main-fnt-color);
        font: var(--md-font);
        font-size: 14px;
        font-weight: bolder;
        gap: 10px;
      }

    }

  }

  nav{
    grid-row: 1 / 2;
    grid-column: 2 / 4;
  }

  div.feature{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  div.right-menu{
    grid-row: 2 / 3;
    grid-column: 3 / 4;
  }

  div.track{
    grid-row: 3 / 4;
    grid-column: 2 / 4;
  }

}
