body{
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  display: flex;
  width: 800px;
  height: 500px;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 20px,black;
  justify-content: center;
  align-items: center;
}

.main-left{
  width: 425px;
  height: 575px;
  border-radius: 20px;
  box-shadow: 2px 2px 20px,black;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid rgb(172, 172, 172);
  margin-block: 40px;
  padding: 10px;
  position: absolute;
  margin-right: 400px;
}

.card-left{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 400px;
  height: 550px;
  border-radius: inherit;
  background-color: white;
  padding: 10px 50px;
  box-sizing: border-box;
  position: absolute;
  margin-right: 400px;
  color: var(--main-fnt-color);
  font-weight: lighter;
  font-size: 12px;
  box-shadow:0px 0px 10px #616161;
}


.card-left > div.header{
  margin: 0;
  padding: 0;
}

.card-left div > div > h5{
  color: var(--main-fnt-color);
  text-align: center;
  font-weight: lighter;
  padding-block: 0;
  line-height: 0;
  font-size: initial;
  margin-block: 20px 0 0 10px;
  width: 100%;
}

.card-left div > button{
  width: 100px;
  padding: 4px 4px;
  background-color: rgb(194, 81, 81);
  border-radius: 8px;
  border: none;
  color: rgb(147, 29, 29);
  margin: 5px;
}

.card-left div button:nth-child(3){
  width: 100px;
  padding: 4px 4px;
  background-color: #5bc670;
  border-radius: 8px;
  border: none;
  color: rgb(74, 125, 42);
}

.form{
  display: flex;
  margin-block: 20px;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  margin-bottom: auto;
}

.form > input.text[type="text"]{
  background-color: rgb(255, 255, 255);
  width:275px;
  padding: 5px 15px;
  border: 1px solid #cfcfcf;
  box-sizing: border-box;
  border-radius: 5px;
}

.form > input.text[type="text"]::placeholder{
  padding: 15px;
}

.form > label{
  padding-block: 10px;
}

input[type="range"]{
  width: 225px;
  position: relative;
  left: 10px;
}

input[type="range"]::before,
input[type="range"]::after{
  position: absolute;
  display: inline-block;
}

input[type="range"]::before{
  content: attr(min);
  left:0px ;
  transform: translateX(calc(-100% - 5px));
}
input[type="range"]::after{
  content: "R$" attr(max);
  right:0px ;
  transform: translateX(calc(100% + 5px));
}

input.first[type="range"]::before{
  content: attr(min);
  left:0px ;
  transform: translateX(calc(-100% - 5px));
}
input.first[type="range"]::after{
  content: attr(max);
  right:0px ;
  transform: translateX(calc(100% + 5px));
}

b{
  font-weight: bold;
}

.main-right{
  width: 450px;
  height: 450px;
  border-radius: 20px;
  box-shadow: 2px 2px 20px,black;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid rgb(172, 172, 172);
  margin-block: 40px;
  padding: 10px;
  position: absolute;
  margin-right: 400px;
  position: absolute;
  float: left;
  margin-left: 700px;
  z-index: -999;
}
.card-right{
  display: flex;
  width: 300px;
  height: 420px;
  border-radius: 20px;
  padding-inline:50px;
  background-color: #AFDBF5;
  position: absolute;
  float: left;
  margin-left: 300px;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow:0px 2px 10px rgba(0,0,0,0.2);
}

.bordered{
  border-radius: 20px;
  border: 1px solid rgb(172, 172, 172);
  margin-block: 40px;
  padding: 10px;
}

.card-right > div > h1{
  color: #333;
  padding: 0;
  margin: 0;
}

.card-right > div > h1 >mark{
  color: #1c9e23;
  font-size: 40px;
  background-color: transparent;
}

.paragraph > mark{
  color: #1c9e23;
  background-color: transparent;
}

.bordered > img{
  width: 100%;
}

.chart{
  width:200px;
  height:100px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.trusted{
  display: flex;
  flex-direction: column;
}

.trusted div{
  display: flex;
  justify-content: center;
  margin-block: 20px;
}

.trusted div > img{
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--main-fnt-color);
  margin-left: -10px;
}

.trusted div > p{
  margin-left: 10px;
}

.last{
  background-color: #6bd370;
  border: none;
  border-radius: 5px;
  position: absolute;
  bottom: 25px;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  box-shadow:0px 2px 10px rgba(0,0,0,.5);
}

.deactivated{
  opacity: 0.5;
}