:root{
  --bg-color:#65d8ff;
  --blue-color:#007EA7;
  --light-font:#ffffff;
  --light-bg:#ebebeb;
  --primary-color:#C5D86D;
  --second-color:#B9E3C6;
  --thirdy-color:#CC444B;
  --main-fnt-color:#000500;
  --sm-font:14px/175% normal;
  --md-font:16px/150% normal;
  --lg-font:24px/150% normal;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

button{
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  border: none;
  align-items: center;
  cursor:pointer;
  img{
    width: 40px;
    height: 40px;
  }


}


  div:nth-child(2){
    width: 0;
    opacity: 0;
    transition: 1s ease;
  }


  button:nth-child(1):focus ~ div:nth-child(2){
    opacity: 1;
    width: 500px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    margin-left: 15px;
  }

.container{
  padding-inline: 50px;
}

a{
  text-decoration: none;
  color: inherit;
}

